<div>
    <input type="hidden" ng-model="product.id" value="{{product.id}}"/>
    <div>
        <label for="productName">Producto:</label>
        <input type="text" ng-model="product.productName"
               value="{{produc.productName}}" />
    </div>
    <div>
        <label for="supplierId">Id de Proveedor:</label>
        <input type="text" ng-model="product.supplierId"
               value="{{produc.supplierId}}" />
    </div>
    <div>
        <label for="unitPrice">Precio Unitario:</label>
        <input type="text" ng-model="product.unitPrice"
               value="{{produc.unitPrice}}" />
    </div>
    <div>
        <label for="package">Paquete:</label>
        <input type="text" ng-model="product.package"
               value="{{produc.package}}" />
    </div>
    <div>
        <label for="isDiscontinued">Descontinuado?:</label>
        <input type="checkbox" ng-model="product.isDiscontinued"
               checked="{{product.isDiscontinued ? 'checked':''}}"
               value="{{produc.isDiscontinued}}" />
    </div>
</div>